*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    padding: 10px 15px;
    border: 2px solid gray;
    color: grey;
    background-color: cadetblue;
    border-radius: 10px;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    background-color: rgb(50, 50, 96);
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 200px;
    min-height: 400px;
    transform: translate(-50%, -50%);
}
.btn-close{
    position: absolute;
    right: 10px;
    top: 10px;
}
.no-scroll{
    overflow: hidden;
}